<app-nav></app-nav>
<app-spinner></app-spinner>
<div class="container text-center" style="margin-top: 50px;">
  <h2 class="text-center text-primary">Guess the country</h2>
    <figure class="figure border-dark">
      <img [src]="imageFlagSource" class="figure-img rounded-0 border" alt="ImageFlag Source">
    </figure>
    <form class="form" #checkGuessForm="ngForm" (ngSubmit)="checkGuess()" autocomplete="off">
        <div class="input-group mb-3">
          <input 
          name="textGuess"
          [(ngModel)]="guess"
          class="form-control" 
          type="text" 
          placeholder="guess">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"  type="submit">GUESS</button>
          </div> 
        </div>
      </form>
  </div>
